
<h1 class="mt-4">Kedicikler sayfasına hoş geldin cınım!!</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p>Merhaba miyav myaavvvv</p>
<a href="/user/logout" class="btn btn-secondary">Logout</a>


